@tailwind base;
@tailwind components;
@tailwind utilities;

/* *:root {
    @apply bg-gray-900 
} */

*html {
  font-family: Montserrat,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.btn {
  @apply text-slate-800 border-2 border-slate-800 hover:bg-slate-800 hover:text-white active:bg-slate-800 font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 ease-linear transition-all duration-150 disabled:text-transparent disabled:border-transparent;
}

h3{
  font-family: Share Tech Mono,monospace
}
.navbar {
	box-shadow: 1px -1px 20px 4px black;
}


